<%- include("partials/header.ejs") %>

<div class="container">
  <div class="inside-container">
    <div class="title">
      <h1>Things to do <span>today</span></h1>
      <h2>(<%= date %>)</h2>
    </div>
    <div class="todo-form">
      <form action="/today" method="POST" id="form">
        <input
          class="todo-item"
          type="text"
          name="newItem"
          placeholder="What to do today?"
          autocomplete="off"
          required
          autofocus
        />
        <input class="submit-btn" type="submit" name="submit" value="+" />
      </form>
    </div>
    <div class="todo-list">
      <% for(let i = 0;i<locals.newListItems.length;i++) { %>
        <div>
          <input type="checkbox"  id="myCheckbox<%= i %>" value="src" onchange="this.form.submit()">
         <p class="child"><%= newListItems[i] %></p>
        </div>
       <% } %>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
